.wind-speed-formatter-2 {
  background-color: #ffffff;
}
.wind-speed-formatter-3 {
  background-color: #d0fdfb;
}
.wind-speed-formatter-4 {
  background-color: #a5faf7;
}
.wind-speed-formatter-5 {
  background-color: #53f9c2;
}
.wind-speed-formatter-6 {
  background-color: #31fb73;
}
.wind-speed-formatter-7 {
  background-color: #0efe00;
}
.wind-speed-formatter-8 {
  background-color: #5bfa00;
}
.wind-speed-formatter-9 {
  background-color: #9ff600;
}
.wind-speed-formatter-10 {
  background-color: #ffd007;
}
.wind-speed-formatter-11 {
  background-color: #ffa312;
}
.wind-speed-formatter-12 {
  background-color: #ff4927;
}
.wind-speed-formatter-13 {
  background-color: #ff2d40;
}
.wind-speed-formatter-14 {
  background-color: #ff2759;
}
.wind-speed-formatter-15 {
  background-color: #ff1b85;
}
.wind-speed-formatter-16 {
  background-color: #ff13a7;
}
.wind-speed-formatter-17 {
  background-color: #ff08d5;
}
.wind-speed-formatter-18 {
  background-color: #ff04e8;
}
.wind-speed-formatter-19 {
  background-color: #ff01f7;
}
.wind-speed-formatter-20 {
  background-color: #fb02ff;
}
.wind-speed-formatter-21 {
  background-color: #dd10ff;
}
.wind-speed-formatter-22 {
  background-color: #b722ff;
}
.wind-speed-formatter-23 {
  background-color: #9931ff;
}
.wind-speed-formatter-24 {
  background-color: #8e33ff;
}
.wind-speed-formatter-25 {
  background-color: #8234ff;
}
.temperature-field-backgroundColor-1 {
  background-color: #ffffe9;
}
.temperature-field-backgroundColor-2 {
  background-color: #ffffdb;
}
.temperature-field-backgroundColor-3 {
  background-color: #ffffd5;
}
.temperature-field-backgroundColor-4 {
  background-color: #ffffbc;
}
.temperature-field-backgroundColor-5 {
  background-color: #ffffb0;
}
.temperature-field-backgroundColor-6 {
  background-color: #ffffa2;
}
.temperature-field-backgroundColor-7 {
  background-color: #ffff93;
}
.temperature-field-backgroundColor-8 {
  background-color: #ffff7e;
}
.temperature-field-backgroundColor-9 {
  background-color: #ffff74;
}
.temperature-field-backgroundColor-10 {
  background-color: #ffff6a;
}
.temperature-field-backgroundColor-11 {
  background-color: #fff85c;
}
.temperature-field-backgroundColor-12 {
  background-color: #fff153;
}
.temperature-field-backgroundColor-13 {
  background-color: #ffe647;
}
.temperature-field-backgroundColor-14 {
  background-color: #ffdc3b;
}
.temperature-field-backgroundColor-15 {
  background-color: #ffd937;
}
.temperature-field-backgroundColor-16 {
  background-color: #ffc924;
}
.temperature-field-backgroundColor-17 {
  background-color: #ffc01a;
}
.temperature-field-backgroundColor-18 {
  background-color: #ffbd16;
}
.temperature-field-backgroundColor-19 {
  background-color: #ffb30a;
}
.temperature-field-backgroundColor-20 {
  background-color: #ffaa00;
}
.temperature-field-backgroundColor-21 {
  background-color: #ffa403;
}
.temperature-field-backgroundColor-22 {
  background-color: #ff920a;
}
.temperature-field-backgroundColor-23 {
  background-color: #ff8211;
}
.temperature-field-backgroundColor-24 {
  background-color: #ff7815;
}
.temperature-field-backgroundColor-25 {
  background-color: #ff6d1a;
}
.temperature-field-backgroundColor-26 {
  background-color: #ff661c;
}
.temperature-field-backgroundColor-27 {
  background-color: #ff5b21;
}
.temperature-field-backgroundColor-28 {
  background-color: #ff5026;
}
.temperature-field-backgroundColor-29 {
  background-color: #ff402c;
}
.temperature-field-backgroundColor-30 {
  background-color: #ff3232;
}
.temperature-field-backgroundColor-31 {
  background-color: #ff2640;
}
.temperature-field-backgroundColor-32 {
  background-color: #ff1f49;
}
