@import 'cssreset.css';
@import 'squareboxesBackground.css';
.data-provided-label {
  display: flex;
  flex-direction: column;
  padding: 12px;
  font-weight: bold;
  text-align: right;
  border-right: #333 solid 1px;
}
.empty-data-provided-label {
  display: flex;
  height: 49px;
}
.daily-forecast-data-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
}

.square-field {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.page-container {
  width: 100%;
  margin-top: 90px;
}

.container-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background-color: #333333;
}
.menu-buttons-wrapper {
  display: flex;
  flex-direction: row;
}
/* .menu-date-label {
  height: 100%;
  font-size: 14pt;
  color: #ff0000;
}

.location-name {
  width: 100%;
  background-color: #fff;
} */
.hourly-data-wrapper:hover {
  opacity: 0.7;
}

.hourly-data-wrapper:hover {
  opacity: 1;
}

.dropdown-default-text {
  text-align: center;
  color: white;
  font-size: 25px;
}

.ui.selection.dropdown {
  background: rgba(255, 0, 0, 0);
  border: 3px solid white;
  font-family: monospace, Impact;
  border-radius: 10px;
}

.menu.transition.visible {
  background: rgba(255, 0, 0, 0);
  border: 3px solid white;
}

.item.active {
  color: white;
}

.ui.selection.dropdown:hover {
  background-color: rgb(255, 255, 255, 0.3);
  border: 3px solid white;
}

div.item {
  background-color: rgb(255, 255, 255, 0.3);
}

.ui.selection.dropdown .item {
  color: white;
  font-size: 18px;
  text-align: center;
}

.ui.selection.dropdown .item:hover {
  color: white;
  text-align: center;
}

.ui.selection.dropdown .item.active.selected {
  background-color: rgb(255, 255, 255, 0.3);
  color: white;
  text-align: center;
}

.ui.selection.dropdown .item.active.selected:hover {
  background-color: rgb(255, 255, 255, 0);
  font-weight: 0;
}

.menu.transition.visible {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

#footer6-3 {
  background-color: #062d38;
}

.mbr-overlay {
  opacity: 0.3;
  background-color: rgb(0, 0, 0);
}

.dropdown-navbar div.menu.dropdown-menu.transition.visible {
  background-color: #073947;
}

div.ui.selection.dropdown.dropdown-navbar {
  display: none;
}

.rating-formatter-0 {
  height: 60px;
  vertical-align: middle;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('img/sad.png');
}
.rating-formatter-1 {
  height: 60px;
  vertical-align: middle;
  background-size: 20px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('img/star.png');
}
.rating-formatter-2 {
  height: 60px;
  vertical-align: middle;
  background-size: 20px 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('img/2stars.png');
}
.rating-formatter-3 {
  height: 60px;
  vertical-align: middle;
  background-size: 20px 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('img/3stars.png');
}

.weather-icon-sun {
  height: 50px;
  vertical-align: middle;
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('img/sunny.png');
}
.weather-icon-sun-clouds {
  height: 50px;
  vertical-align: middle;
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('img/sun-clouds.png');
}
.weather-icon-sun-clouds-rain {
  height: 50px;
  vertical-align: middle;
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('img/sun-clouds-rain.png');
}
.weather-icon-mixed-clouds {
  height: 50px;
  vertical-align: middle;
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('img/mixed-clouds.png');
}
.weather-icon-clouds-rain {
  height: 50px;
  vertical-align: middle;
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('img/clouds-rain.png');
}

button.btn.btn-primary.display-4 {
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0) !important;
  border: 3px solid white !important;
  font-family: monospace, Impact;
  font-size: 20px;
  font-weight: bold;
}

button.btn.btn-primary.display-4:hover {
  background-color: rgb(255, 255, 255, 0.3) !important;
}

.dropdown-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.dropdown-menu::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(255, 255, 255, 0.3);
}

.dropdown-menu::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(231, 129, 5);
}

.past-forecast {
  height: 49.33px;
  background-color: #fff;
  background-image: url('img/dash.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

#page-container {
  display: none;
  margin-top: 6%;
  padding-left: 200px;
}

.tab-content {
  display: flex;
  width: 700px;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.jumbotron {
  background-color: rgba(255, 0, 0, 0);
}
#myTab {
  width: 700px;
}

body {
  background-image: url('../assets/images/sea.png');
}

a.nav-link {
  color: #fff;
  background-color: #073947;
  font-family: monospace, Impact;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  width: 100px;
}

a.nav-link:hover {
  background-color: rgb(255, 255, 255, 0);
  border: none;
}

.nav-link.active.show:hover {
  border-bottom: 1px solid #fff;
}

.hour-field-formatter {
  font-weight: bold;
}

.all-forecast-data-wrapper {
  display: flex;
  flex-direction: row;
}
.thumbnail {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: white;
  width: 90%;
}

.caption {
  text-align: center;
  padding: 10px 20px;
  font-family: Impact;
  color: rgb(54, 54, 54);
}

.for-us {
  display: none;
  margin-top: 8%;
}

.loader {
  width: 255px;
  height: 407px;
  background-image: url('img/loader.gif');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 50%;
}
